<%- include('error_header.ejs') %>
<div style="text-align: center;">
    <h1>Due to  <%=error%>, this Video Cannot be Downloaded</h1>
    <p>IDK man, sounds like a lot of cope to me</p>
    <img src="/images/cope.webp" alt="cope">
</div>
<%- include('footer.ejs') %>