<%- include('header.ejs') %>
<div style="text-align: center;">
    <a href="/" class="link">Go Back</a>
    <p>Welcome <%=username%>, You are logged in.</p>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" class="link">Explore</a>
</div>
<%- include('footer.ejs') %>